#homelink{
    margin: 0 5px 0 5px;
    text-decoration: none;
}
.container-fluid{
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    max-width: 430px;
    margin: 10px;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
#girl{
    width: 40%;
    height: 40%;
    min-width: 100px;
    min-height: 100px;
    max-width: 200px;
    max-height: 200px;
}
#successform{
    padding: 30px;
    background-color: rgba(246,241,214,0.98);
    border-radius: 10px;
}
.btn{
    margin-top: 20px; 
}
body{
    background-image: url(dandelion-g49ef4391c_1920.jpg);
    color: rgba(182,213,106);
}
#openNikki{
    width: 50%;
    min-width: 100px;
    max-width: 200px;
}
#logout{
    width: 50%;
    min-width: 100px;
    max-width: 200px;
}